 /* Grid */
body {
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	//width: 90%; //for a centered page
	//max-width: 1080px;
	width: 100%;  //for full-width app
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  /*.container {
    width: 85%; //for a centered page
    padding: 0; }*/
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  /*.container {
    width: 80%; } //for a centered page*/
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }
}

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Application styles */
.menu {
	height: 5.0rem;
	background: $main-nav-color;
	color: $font-color-nav;
	font-size: $font-size-base;
	position: relative;
	ul {
		list-style: none;
		display: inline-block;
		margin-left: -4.0rem;
		margin-top: 0rem;
		li {
			display:inline-block;
			padding: 0 1.5rem 0 1.5rem; 
			line-height: 5.0rem; 
			box-sizing: border-box;
			@include no-select;
			ul.dropdown {
				background:$main-nav-selected;
				border: $main-nav-border;
				margin-top: 0rem;
				padding-top:0.7rem;
				padding-bottom:0.7rem;
				li { 
					color:$font-color-nav;
					padding: 0.75rem 0rem 0.75rem 0;
					&:nth-child(2) { margin-left: 0; } /*fix to reset hack below*/
				}
			}	
			&#user { 
				border-right:$main-nav-border; 
				cursor: pointer;
				position: relative;
				.dropdown {
					margin-left: 0;
					padding-left: 3.0rem;
					width: 79%;
				}
			}
			&:hover { background: $main-nav-selected; }
			&:first-child { padding-left: 2.0rem; }
			&:last-child { line-height: 4.6rem; } /*hack to force alert li to be the right height*/
			&:nth-child(2) { margin-left: -0.3rem; } /*hack to space between user and workspaces*/
			a {
				color: $font-color-nav;
				&:hover { text-decoration: none; }
			}
			&.active {
				background: $main-nav-selected;
			}
			.alert {
				min-width: 1.1rem;
				background: $alert-color;
				@include border-radius(1.1rem);
				font-size: 0.8rem;
				padding: 0 0.4rem 0 0.4rem;
				position: relative;
				top: -0.1rem;
				left: 0.2rem;
			}
			.e360-ui-drop-arrow {
				color: $font-color-nav;
			}
		}
	}
	.right-container {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		#logo {
			border-left:$main-nav-border;
			padding: 0.5rem 2.0rem 0 1.5rem;
			line-height: 4.1rem;
		}
		.icon-Search {
			height: 2.0rem;
			width: 2.0rem;
			//line-height: 5.0rem;
		}
		.search {
			display: inline-block;
			padding: 1.5rem 1.5rem 0 1.3rem;
			height: 3.4rem;
			&:hover {
				cursor: pointer;
				background: $main-nav-selected;
			}
		}
	}
}

.subNav {
	position: relative;
	height: 4.6rem;
	box-sizing: border-box;
	background: $sub-nav-color;
	border-bottom: $sub-nav-border;
	color: $font-color-base;
	font-size: $font-size-base;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		display: inline-block;

		li {
			box-sizing: border-box;
			@include no-select;
			display: inline-block;
			padding: 1.5rem 1.5rem 0 1.5rem;
			height: 4.6rem;
			position: relative;
			margin-left: -0.3rem;

			svg {
				fill: $font-color-link;
			}
			.icon {
				color: $font-color-link;
			}
			ul.dropdown {
				background:$sub-nav-color;
				border: $sub-nav-border;
				margin-top: 1.4rem;
				margin-left: 0;
				padding-left: 0;
				li { 
					display: block;
					padding: 0.7rem 1.5rem 0.7rem 1.5rem;
					color: $font-color-base;
					line-height: 1.4rem;
					height: auto;
					&:hover, &.active {
						background: $dropdown-selected;
						color: $font-color-link;
					} 
				}
			}
			&.chart:hover,
			&.reportSwitch:hover,
			&.reportAction:hover,
			&.chart.chartSwitch.active,
			&.reportSwitch.active,
			&.reportAction.active {
				background: $sub-nav-selected;
				a {
					color: $font-color-base;
					text-decoration: none;
					font-weight: bold;
					letter-spacing: -0.03rem;
				}
				.icon { color: $font-color-base; }
				svg {fill:$font-color-base;}
			}

			.dropdown {
				background: #f7f5f4;
				border: solid 0.1rem #d6d6d6;
				overflow: auto;
				z-index:3;
				margin-top: 1.6rem;
				li {
					&:hover {
						background: #dcedf8;
						color: #00aeef;
					}
				}
			}
		}
	}
	
	.subNavLeft {
		position: absolute;
		left: 0;
		display: inline-block;
	}

	.subNavRight {
		position: absolute;
		right: 0;
		display: inline-block;
		li {
			border-left: $sub-nav-border;
			height: 4.4rem;
		}
	}

	.reportSwitch,
	.chart:last-child,
	.pageTitle {
		&:before{
			content: "";
			position: absolute;
			top: 0.6rem;
			right: 0;
			height: 3.4rem;
			border-right: $sub-nav-border;
		}
	}

	.breadcrumbNav {
		.breadcrumb {
			margin-right: -1.5rem;
			padding-left: 2rem;
			margin-left: 1.5rem;
			padding-right: 0.3rem; 
			a {
				color: $font-color-secondary;
				.icon {
					fill: $font-color-secondary;
				}
			}
			.icon {
				fill: $font-color-secondary;
				height: 1.8rem;
				width: 1.8rem;
			}
			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: -1.7rem;
				width: 0; 
				height: 0; 
				border-top: 2.3rem solid transparent; 
				border-bottom: 2.3rem solid transparent;
				border-left: 1.5rem solid $sub-nav-selected;  
				z-index: 3;
			}
			&:after{
				right: -1.5rem; 
				border-left: 1.5rem solid $sub-nav-color; 
			}
			&:first-child {
				padding-left: 2rem;
				margin-left: 0rem;
			}
			&:hover { 
				a {color: $font-color-base;
					.icon {
						fill: $font-color-base;
					}
				} 
				.icon {fill: $font-color-base;} 
				background: $sub-nav-selected;
				&:after {
					border-left: 1.5rem solid $sub-nav-selected;
				}
				&:last-child {
					background: $sub-nav-color;
					&:after {
						border-left-color: $sub-nav-color;
					}
				}
			}
		}
	}
	.pageTitle {
		font-weight: bold;
		margin-left: 2.5rem;
		top: -0.1rem;
	}
	.chartTypeList {
		li {
			top: 0;
			height: 4.6rem;
			vertical-align: top;
			.icon { color: $font-color-link; }
			.active { color: $font-color-base; }
			a { color: $font-color-base; }
		}
	}
	.reportDetails, .reportSettings, .filters {
		a {
			color: $font-color-base;
			
			&:hover {
				text-decoration: none;
				font-weight: bold;
			} 
		}
	}
	&#workspaceList, &#workspaceLanding {
		.pageTitle {
			&:before{
				border-right: none;
			}
		}
		.filters {
			margin-left: 2.5rem;
			li {
				display: inline-block;
			}
		}
	}
	.e360-faved {
		color: $sub-nav-color;
		margin-right: 0.9rem;
		&.faved {
			color: #e9dd5c;
		}
	}
}

.dropdown, ul.dropdown {
	display: none;
	position: absolute;
	left:0;
	box-shadow: $shadow;
	z-index: 3;
	width: 100%;
	overflow: hidden;
	max-height: 20.0rem;
	&.expand {
		display:block;
	}
	li {
		display: block;
		height: auto;
		font-size:1.2rem;
		line-height:1.4rem;
	}
}

.pageTitle .editInput {
	width: 57.5rem;
	padding: 0;
	margin: 0;
	textarea, input[type="text"], pre {
		font-size:$font-size-base;
		width: 53.8rem;
		margin-top: -1rem;
	}
	.e360-edit {
		top: 0;
		padding-top: 0;
	}
	.confirm {
		top: -1.0rem;
		padding-top: 0;
		height: 3.4rem;
	}
}

/* Larger than mobile */
@media (max-width: 480px) {}

/* Larger than tablet */
@media (max-width: 760px) {
	@include menu-small;
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}