/*
	Style guide styles
	Ignore this file in terms of style
	and design patterns for application
*/

.guide-header {
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 2.0rem;
	border-bottom: $border-base;
	background: #fff;
	z-index: 10;
	h1 {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
}
#version {
	color: $font-color-secondary;
	margin-top: -0.75rem;
	font-size: $font-size-small;
}
.sizes {
	display: inline-block;
	position: absolute;
	right: 5.0rem;
	top: 0;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding: 0 1.0rem 0 1.0rem;
			line-height: 2.4rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.table-contents {
	width: 15%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	min-width: 12.0rem;
	padding: 3.5rem 1.5rem 0 1.5rem;
	background: #fff;
	border-left: $border-base;
	z-index: 9;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin-bottom: 1.0rem;
			h3 {
				line-height: 2.4rem;
				padding: 0;
				margin: 0;
			}
			ul {
				margin-left: 1.0rem;
				li {
					margin-bottom: 0;
				}
			}
		}
	}
}
.guide {
	width: 85%;
	display: block;
	margin-top: 7.5rem;
	background: #fafafa;
}

.container {
	//border: solid red 1px;
	padding: 2.0rem;
	background: #fff;
	&.small {
		//border: solid blue 1px;
		width: 400px;
	}
	&.medium {
		//border: solid green 1px;
		width: 768px;
	}

}

.guide-section {
	border-bottom: solid 0.063rem #dedede;
	padding-bottom: 2.5rem;
	margin: 1.5rem 0 1.5rem 0;
}

h3.elementTitle {font-weight: bold; }
pre {
	color: $font-color-secondary;
}
.style-element {
	margin: 2.5rem 0 1.5rem 0;
	border-bottom: solid 0.063rem #dedede;
	&:last-child {
		border-bottom: none;
	}
}
p {
	max-width: 50rem;
	font-size: 1.8rem;
	line-height: 2.2rem;
	pre { 
		margin-top: -0.725rem; 
	}
	&.note {
		font-family: $font-family-serif;
	}
}

.sub-note {
	color: $font-color-secondary;
	font-size: 1.0rem;
}


#slider .sub-note {
	right: 0; 
	position: absolute;
	margin-top: -0.8rem;
}

#parameterPanel {
	display: block;
	.sidePanel {
		display: inline-block;
	}
}

h3.show_markup, h3.show_styles, h3.show_JS { 
	color: $font-color-link;
	cursor: pointer;
	text-align: right;
	margin-right: 3.0rem;
}
.markup, .styles, .js {
	box-sizing: border-box;
	display: none;
	&.show {
		display: block;
	}
}

#icons {
	ul {
		list-style: none;
		li {
			//box-sizing: border-box;
			vertical-align: top;
			padding: 0.9rem;
			display: inline-block;
			height: 20.0rem;
			width: 20.0rem;
			border: 1px solid #f3f3f3;
			margin-right: -0.4rem;
			margin-bottom: -0.1rem;
			span {
				vertical-align: top;
			}
			.icon-name {
				color: $font-color-secondary;
			}
			.icon-desc {

			}
		}
	}
	.e360-download svg {
		fill: $font-color-link;
	}
	.e360-save, .e360-copy, .e360-share {
		color: $font-color-link;
	}
	.e360-workspace, .e360-workspace-landing {
		color: $font-color-secondary;
	}
	.e360-view-grid, .e360-view-list {
		color: $font-color-secondary;
	}
}

.reportTip {
	display: inline-block;
	margin-right: 13.0rem;
	vertical-align: top;
}
.reportArea {
	width: 42.8rem;
	height: 67.5rem;
	display: block;
}

.color {
	p { 
		font-size: $font-size-small;
		color: $font-color-secondary;
	}
	div {
		display: inline-block;
	}
	span {
		font-family: 'consolas';
		color: $font-color-secondary;
		font-size: $font-size-base;
	}
		
	.color-block {
		height: 8.5rem;
		width: 8.5rem;
		margin: 0;
		&.dark-grey { background: $app-dark-gray; }
		&.warm-grey { background: $app-warm-gray; }
		&.cyan { background: $app-cyan; }
	}
	.color-label {
		height: 8.5rem;
		width: 8.5rem;
	}
}

#typography {
	p.note { 
		font-size: $font-size-small;
		color: $font-color-secondary;
	}
}