/*
	Style guide styles
	Ignore this file in terms of style
	and design patterns for applciation
*/
.guide-header {
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 2.0rem;
	border-bottom: $border-base;
	background: #fff;
	z-index: 10;
	h1 {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
}
#version {
	color: $font-color-secondary;
	margin-top: -0.75rem;
	font-size: $font-size-small;
}
.sizes {
	display: inline-block;
	position: absolute;
	right: 5.0rem;
	top: 0;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding: 0 1.0rem 0 1.0rem;
			line-height: 2.4rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.table-contents {
	width: 15%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	min-width: 12.0rem;
	padding: 1.0rem;
	background: #fff;
	border-left: $border-base;
	z-index: 9;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin-bottom: 1.0rem;
			h3 {
				line-height: 2.4rem;
				padding: 0;
				margin: 0;
			}
			ul {
				margin-left: 1.0rem;
				li {
					margin-bottom: 0;
				}
			}
		}
	}
}
.guide {
	width: 85%;
	display: block;
	margin-top: 9.0rem;
	background: #fafafa;
}

.container {
	//border: solid red 1px;
	background: #fff;
	&.small {
		//border: solid blue 1px;
		width: 400px;
	}
	&.medium {
		//border: solid green 1px;
		width: 768px;
	}

}

h1 {
	font-size:$font-size-large-title;
	line-height: $line-height-title-large;
	font-weight: 700;
}
h2 {
	font-size:$font-size-large-title;
	line-height: $line-height-title;
	font-weight: 700;
}
h3 {
	font-size: $font-size-small-title;
	line-height: $line-height-title;
	font-weight: 300;
}

.component {
	h1 {
		font-size:$font-size-large-title;
		line-height: $line-height-title-large;
		font-weight: 300;
	}
	h2 {
		font-size:$font-size-title;
		line-height: $line-height-title;
		font-weight: 300;
	}
	h3 {
		font-size: $font-size-small-title;
		line-height: $line-height-title;
		font-weight: 300;
	}
}

.guide-section {
	border-bottom: solid 0.063rem #dedede;
	padding-bottom: 0.75rem;
}
p {
	font-family: $font-family-serif;
}
h3.elementTitle {font-weight: bold; }
pre {
	color: $font-color-secondary;
}
.style-element {
	margin: 2.5rem 0 1.5rem 0;
	border-bottom: solid 0.063rem #dedede;
	&:last-child {
		border-bottom: none;
	}
}
p {
	max-width: 60rem;
	padding-left: 2.0rem;
	pre { margin-top: -0.725rem; }
}
.note {
	margin-bottom: 3.5rem;
}

.component {
	h1 {
		font-size:$font-size-large-title;
		line-height: $line-height-title-large;
		font-weight: 300;
	}
	h2 {
		font-size:$font-size-title;
		line-height: $line-height-title;
		font-weight: 300;
	}
	h3 {
		font-size: $font-size-small-title;
		line-height: $line-height-title;
		font-weight: 300;
	}
}

.sub-note {
	color: $font-color-secondary;
	font-size: 1.0rem;
}

.guide-section {
	margin: 2.5rem 0 3.75rem 0;
	border-left: $border-base;
}
#slider .sub-note {
	right: 0; 
	position: absolute;
	margin-top: -0.8rem;
}

#parameterPanel {
	display: block;
	.sidePanel {
		display: inline-block;
	}
}

h3.show_markup, h3.show_styles, h3.show_JS { 
	color: $font-color-link;
	cursor: pointer;
	text-align: right;
	margin-right: 3.0rem;
}
.markup, .styles, .js {
	box-sizing: border-box;
	display: none;
	&.show {
		display: block;
	}
}

#icons {
	ul {
		list-style: none;
		li {
			//box-sizing: border-box;
			vertical-align: top;
			padding: 0.9rem;
			display: inline-block;
			height: 20.0rem;
			width: 20.0rem;
			border: 1px solid #f3f3f3;
			margin-right: -0.4rem;
			margin-bottom: -0.1rem;
			span {
				vertical-align: top;
			}
			.icon-name {
				color: $font-color-secondary;
			}
			.icon-desc {

			}
		}
	}
	.e360-download svg {
		fill: $font-color-link;
	}
	.e360-save, .e360-copy, .e360-share {
		color: $font-color-link;
	}
	.e360-workspace, .e360-workspace-landing {
		color: $font-color-secondary;
	}
	.e360-view-grid, .e360-view-list {
		color: $font-color-secondary;
	}
}

.reportTip {
	display: inline-block;
	margin-right: 13.0rem;
	vertical-align: top;
}
.reportArea {
	width: 42.8rem;
	height: 67.5rem;
	display: block;
}
#report-colors {
	.examples {
		display: block;
	}
	.alpha-toggle, .shades-toggle {
		display: block;
		cursor: pointer;
	}
	.alpha, .shades {
		display: none;
		&.show {
			display:block;
		}
	}
	.color {
		//position: relative;
		div {
			display: inline-block;
		}
		span {
			font-family: 'consolas';
			color: $font-color-secondary;
			font-size: $font-size-base;
		}
			
		.color-block {
			height: 8rem;
			width: 8rem;
			margin: 0 -0.3rem 0 0;
		}
		.color-label {
			height: 8rem;
			width: 8rem;
		}
		&.sob {
			div {display: block; }
			div.color-block, span {
				display: inline-block;
			}
			.color-block {
				margin-bottom: -2.5rem;
				margin-top: -3.5rem;
				margin-right: 1rem;

				&#new{ background: $report-positive; }
				&#win{ background: #7fae7b; }
				&#add-on{ background: #b6d1b4; }

				&#repeat { background: $report-blue2; }
				&#restart { background: $report-blue4; }

				&#end { background: $report-negative; }
				&#loss { background: #995757; }
				&#drop-off{ background: #b88a8a; }
				&#off-drug { background: #dcc5c5; }
			}
		}
		&.color-block {
			.dark-grey { background: $app-dark-gray; }
			.warm-grey { background: $app-warm-gray; }
			.cyan { background: $app-cyan; }
		}
	}
}