html {
	font-size: 62.5%; /*base 10*/
}

$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia;
$font-size-small: 1.0rem; /* =10px */
$font-size-base: 1.2rem; /* =12px */
$font-size-large: 1.4rem; /* =14px */
$font-size-small-title: 1.4rem; /* =14px */
$font-size-title: 1.8rem; /* =18px */
$font-size-large-title: 2.4rem; /* = 24px*/
$line-height-base: 1.6rem; /*=16px*/
$line-height-title: 2.2rem; /*22px*/
$line-height-title-large: 2.8rem; /* 28px */

body {
	font-family: $font-family;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $font-color-base;
}

a {
	color: $font-color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size:$font-size-large-title;
	line-height: $line-height-title-large;
	font-weight: 300;
}
h2 {
	font-size:$font-size-title;
	line-height: $line-height-title;
	font-weight: 300;
}
h3 {
	font-size: $font-size-small-title;
	line-height: $line-height-title;
	font-weight: 300;
}

.secondary {
	color: $font-color-secondary;
}

.e360-input-drop-arrow {
	font-size: 4px; //chrome won't adhere to specified rems - will investigate
	padding-left: 0.7rem;
	margin-top: -0.2rem;
	color: $font-color-secondary;
}
.e360-ui-drop-arrow {
	font-size: 5px;//.5rem; chrome won't adhere to specified rems
	padding-left: 0.7rem;
	margin-top: -0.2rem;
	color: $font-color-base;
}
.e360-close {
	font-size: 1.2rem;
	color: $font-color-secondary;
}
.e360-options-ellipsis{
	font-size:4px; //chrome won't adhere to specified rems
	color: $font-color-secondary;
}
.e360-search {
	font-size: 1.4rem;
	color: #c3c3c3;
}
.e360-edit {
	font-size: 2.2rem;
	color: #c3c3c3;
}
.e360-copy {
	font-size: 1.5rem;
}
.e360-chart-bar, .e360-chart-bar-stacked, .e360-chart-bar-stack-vertical,
.e360-chart-switch-matrix, .e360-chart-switch-matrix-basic {
	color: $font-color-link;
}
.e360-chart-switch-matrix-basic {
	font-size: 1.4rem;
}
.e360-chart-bar-stack-vertical {
	font-size: 1.2em;
}
.e360-database {
	color: #c3c3c3;
	font-size: 1.2rem;
	padding-right: 0.7rem;
}
.e360-faved {
	cursor: pointer;
	color: #fff;
	text-shadow: 
		0.1rem 0 0 $font-color-secondary, 
		-0.1rem 0 0 $font-color-secondary, 
		0 0.1rem 0 $font-color-secondary, 
		0 -0.1rem 0 $font-color-secondary, 
		0.1rem 0.1rem 0 $font-color-secondary, 
		-0.1rem -0.1rem 0 $font-color-secondary, 
		0.1rem -0.1rem 0 $font-color-secondary, 
		-0.1rem 0.1rem 0 $font-color-secondary;
	&.faved {
		color: #e9dd5c;
		text-shadow: 
			0.1rem 0 0 #d6ae34, 
			-0.1rem 0 0 #d6ae34, 
			0 0.1rem 0 #d6ae34, 
			0 -0.1rem 0 #d6ae34, 
			0.1rem 0.1rem #d6ae34, 
			-0.1rem -0.1rem 0 #d6ae34, 
			0.1rem -0.1rem 0 #d6ae34, 
			-0.1rem 0.1rem 0 #d6ae34;
	}
}

/*Various icons not yet used in application*/

.e360-collapse {
	font-size: 2px; //chrome won't adhere to specified rems - will investigate
	color: #c3c3c3;
}
.e360-locked, .e360-unlocked {
	color: #c3c3c3;	
}

.e360-column-shift-arrow, .e360-column-shift-double-arrow {
	color: $font-color-base;
}
.e360-more-info {
	color: rgba(0,174,239, .3); /*font-color-link $ 30%*/
	font-size: 1.8rem;
}