html {
  font-size: 62.5%;
  /*base 10*/
}
/* base 16 0.625rem;*/
/* =10px */
/* base 16 0.75rem; /* =12px */
/* base 16 0.875rem; /* =14px */
/* base 16 0.875rem; /* =14px */
/* base 16 1.125rem; /* =18px */
/* base 16 1.5rem; /* = 24px*/
/* base 16 1rem; /*=16px*/
/* base 16 1.375rem; /*22px*/
/* base 16 1.75rem; /* 28px */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #323334;
}
a {
  color: #00aeef;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: normal;
}
h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: normal;
}
h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
}
.secondary {
  color: #979ba8;
}
/*16: 0 0.0625rem 0.1875rem 0*/
/*16: 0 0.0625rem 0.0625rem 0 */
/*16:0 0.0625rem 0.1875rem 0 */
/*16:0 0.0625rem 0.3125rem 0*/
/*16:0 0.0625rem 0.1875rem -0.0625rem */
/*@ims-warm-grey*/
/*16: 0.0625rem; */
/*16: 0.0625rem;*/
/*16: 0.0625rem; */
/*16: 0.0625rem;*/
/*16: 0.0625rem;*/
/*16: 0.0625rem;*/
/*16: 0.0625rem;*/
/* ims-cyan */
/*16: 0.0625rem*/
/* ims-cyan @ 50% alpha */
/*16: 0.0625rem;*/
/*16: 0.0625rem;*/
/*f7f5f4 // @ims-warm-grey*/
/*16: 0.0625rem;*/
/*16: 0.0625rem; */
/* variables */
/* base 16 1.688rem; /*27px*/
/* mix-ins */
.border-radius {
  -webkit-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  -moz-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
}
.input-focus {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.button-hover {
  background: linear-gradient(to bottom, #efefef 0%, #cecece 100%);
  border: solid #b6b6b6 0.1rem;
}
button,
.button {
  -webkit-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  -moz-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
  background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
  color: #323334;
  height: 2.7rem;
  border: solid #d6d6d6 0.1rem;
  padding: 0 0.9rem 0 0.9rem;
  /* base 16 0 0.5625rem 0 0.5625rem; */
}
button:hover,
.button:hover {
  background: linear-gradient(to bottom, #efefef 0%, #cecece 100%);
  border: solid #b6b6b6 0.1rem;
}
button:focus,
.button:focus {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
button.active,
.button.active {
  background: #00aeef;
  color: #ffffff;
  font-weight: bold;
  border: solid #00aeef 0.1rem;
}
button.active:hover,
.button.active:hover {
  background: #00a5ea;
  border: solid #0080c8 0.1rem;
}
button.active:focus,
.button.active:focus {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.inputGroup {
  vertical-align: top;
}
.inputGroup .label {
  color: #979ba8;
  margin-bottom: 1.0rem;
  /* base 16 0.625rem; */
}
.inputGroup.required .asterisk {
  color: #de5741;
}
input,
input[type="text"] {
  -webkit-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  -moz-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
  border: solid #d6d6d6 0.1rem;
  height: 2.7rem;
  padding: 0 0.9rem 0 0.9rem;
  /* base 16 0 0.5625rem 0 0.5625rem; */
}
input:hover,
input[type="text"]:hover {
  border: solid #b6b6b6 0.1rem;
}
input:focus,
input[type="text"]:focus {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio]:checked + label:before {
  content: "\2022";
  font-size: 2.4rem;
  /* base 16 1.5rem; */
  color: #979ba8;
  text-align: center;
  line-height: 1.2rem;
  /* base 16 0.75rem; */
}
.radio label:before {
  border-radius: 0.8rem;
  /* base 16 0.5rem; */
  width: 1.2rem;
  /* base 16 0.75rem; */
  height: 1.2rem;
  /* base 16 0.75rem; */
}
.radio label:before:focus,
.radio label:before:hover {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox]:checked + label:before {
  background: url("../images/svgs/imsHealth_icons_checked.svg") no-repeat;
  background-position: center center;
}
.checkbox label:before {
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
  width: 1.1rem;
  /* base 16 0.6875rem; */
  height: 1.1rem;
  /* base 16 0.6875rem; */
}
.radio label,
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.0rem;
  /* base 16 1.25rem; */
  font-size: 1.2rem;
  /* base 16 0.75rem; */
  color: #323334;
}
.radio label:before,
.checkbox label:before {
  content: "";
  display: inline-block;
  text-align: top;
  margin-right: 0.6rem;
  /* base 16 0.375rem; */
  position: absolute;
  left: 0;
  background-color: #fff;
  border: solid #d6d6d6 0.1rem;
}
.radio label:focus:before,
.checkbox label:focus:before,
.radio label:hover:before,
.checkbox label:hover:before {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.inputGroup p {
  margin-bottom: -0.4rem;
  /* base 16 -0.25rem; */
}
.inputGroup p:last-child {
  margin-bottom: -1rem;
  /* base 16 -0.625rem; */
}
.select select {
  -webkit-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  -moz-border-radius: 0.2rem;
  /* base 16 0.125rem; */
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
  background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
  border: solid #d6d6d6 0.1rem;
  height: 2.7rem;
  padding: 0 0.2rem 0 0.6rem;
  /* base 16 0 1.25rem 0 0.375rem; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover {
  background: linear-gradient(to bottom, #efefef 0%, #cecece 100%);
  border: solid #b6b6b6 0.1rem;
}
.select select:focus {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.select label {
  position: relative;
}
.select label:after {
  content: '';
  background: url("../images/svgs/imsHealth_icons_input-drop-arrow.svg") no-repeat;
  right: -1.2rem;
  /* base 16 -0.75rem;*/
  top: 0.6rem;
  /* base 16 0.375rem, original: .35rem; */
  width: 3.2rem;
  /* base 16 2.0rem;*/
  height: 3.2rem;
  /* base 16 2.0rem;*/
  position: absolute;
  pointer-events: none;
}
.select label:after:hover,
.select label:after :focus {
  background: url("../images/svgs/imsHealth_icons_input-drop-arrow.svg-dark") no-repeat;
}
/*.range,.toggle {
	.handle {
		background: @button-active-bg;
		box-shadow: @ui-handle-shadow;
	}
	.track {
		background: #fff;
		border: @border-base;
		box-shadow: @ui-track-shadow;
	}
}
input[type=range], .range {
	-webkit-appearance: none; /* hide standard slider */
/*width: 100%; /* Specific width is required for Firefox. */
/*&::-webkit-slider-thumb {
		-webkit-appearance: none; /* hides standard slider */
/*}
	&:focus {
		outline: none;
	}
	&::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent; /* Hides the slider so custom styles can be added */
/*border-color: transparent;
		color: transparent;
	}

	.handle {
		height: 0.875rem;
		width: 0.875rem;
		border-radius: 0.4375rem;
	}
	.track {
		height: 0.3125rem;
		border-radius: 0.1875rem;
	}
}

.toggle {
		.handle {
		height: 1.25rem;
		width: 1.25rem;
		border-radius: 0.625rem;
	}
	.track {
		height: 0.9375rem;
		border-radius: 0.4375rem;
	}
}*/
.switch .toggle {
  position: absolute;
  margin-left: -9999rem;
  visibility: hidden;
}
.switch .toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch input + label {
  width: 4.0rem;
  /* base 16 2.5rem; */
  height: 1.8rem;
  /* base 16 1.125rem; */
  border-radius: 1.0rem;
  /* base 16 0.625rem; */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  vertical-align: center;
  box-shadow: inset 0 0.1rem 0.3rem -0.1rem rgba(0, 0, 0, 0.2);
  border: solid #d6d6d6 0.1rem;
}
.switch input + label:focus,
.switch input + label:hover {
  border: solid #00aeef 0.1rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
}
.switch input + label:before,
.switch input + label:after {
  display: block;
  position: absolute;
  left: 0rem;
  margin-left: -1rem;
  /* base 16 -0.0625rem; */
  vertical-align: center;
  content: "OFF";
}
.switch input + label:before {
  right: 0rem;
}
.switch input + label:after {
  width: 1.8rem;
  /* base 16 1.75rem; */
  height: 0.6rem;
  /* base 16 1.25rem; */
  line-height: 0.8rem;
  /* base 16 1.25rem; */
  padding: 0.9rem;
  /* base 16 0.0625rem; */
  margin-top: -0.2rem;
  /* base 16 -0.125rem; */
  background: #00aeef;
  border-radius: 1.5rem;
  /* base 16 0.9375rem; */
  transition: margin 0.4s;
}
.switch input:checked + label:after {
  margin-left: 1.5rem;
  /* base 16 0.9375rem; */
  content: "ON";
}
.popupDialog {
  box-sizing: border-box;
  background: #fff;
  border-radius: 3.0rem;
  /* base 16 0.1875rem;*/
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding-left: 1.5rem;
  /* base 16 0.9375rem; */
  padding-right: 1.5rem;
  /* base 16 0.9375rem; */
  max-height: 55.0rem;
  /* base 16 34.38rem; */
  max-width: 70.0rem;
  /* base 16 43.75rem; */
}
.popupDialog .header {
  font-weight: bold;
  color: #323334;
  line-height: 5.2rem;
  /* base 16 3.25rem; 52px; */
  border-bottom: solid #d6d6d6 0.1rem;
}
.popupDialog .description {
  color: #979ba8;
  font-size: 1rem;
}
.popupDialog .popupOptions {
  max-height: 45.0rem;
  /* base 16 28.13rem; /* 450px */
}
.popupDialog .group {
  margin-top: 0;
  margin-bottom: 0;
}
.popupDialog .group .inputGroup {
  width: 30%;
  padding: 0 0 1.2rem 0;
  /* base 16 0 0 0.75rem 0, original 0 0 0.725rem 0; */
  margin-right: 1.5rem;
  /* base 16 0.9375rem; */
  display: inline-block;
}
.popupDialog .group .inputGroup select {
  width: 100%;
}
.popupDialog .group .inputGroup input[type="text"] {
  width: 90%;
}
.popupDialog .group .inputGroup ul {
  list-style: none;
  margin-left: -3.9rem;
  /* base 16 -2.438rem, original -2.4rem;*/
}
.popupDialog .group h3 {
  background: #fafafa;
  padding: 0.3rem 1.5rem 0.2rem 1.5rem;
  /* base 16 0.1875rem 0.9375rem 0.125rem 0.9375rem;*/
  width: 100%;
  margin-left: -1.5rem;
  /* base 16 -0.9375rem; */
  margin-right: -1.5;
  /* base 16 -0.9375rem; */
}
.popupDialog .group .title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  /* base 16 0.9375rem; */
}
.popupDialog .group .parameter {
  margin-right: 2.0rem;
  /* base 16 1.25rem; */
}
.popupDialog .group .parameter:first-child {
  margin-right: 0;
}
.popupDialog .footer {
  overflow: auto;
  color: #323334;
  line-height: 5.0rem;
  border-top: solid #d6d6d6 0.1rem;
}
.popupDialog .footer div {
  display: inline-block;
}
.popupDialog .footer .restore {
  float: left;
}
.popupDialog .footer .save {
  float: right;
}
.popupDialog .footer button {
  margin-left: 2.0rem;
  /* base 16 1.25rem;*/
}
.sidePanel {
  box-sizing: border-box;
  background: rgba(247, 245, 244, 0.9);
  border-left: solid #d6d6d6 0.1rem;
  min-height: 70.0rem;
  /* base 16 43.75rem;*/
  width: 21.4rem;
  /* base 16 13.38rem; */
  position: relative;
  padding: 0 1.5rem 0 1.5rem;
  /* base 16 0 0.9375rem 0 0.9375rem; */
}
.sidePanel .parameters {
  height: 100%;
}
.sidePanel .group {
  border-bottom: solid #d6d6d6 0.1rem;
  padding: 1.5rem;
  /* base 16 0.9375rem; */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.sidePanel .group .title {
  color: #979ba8;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.sidePanel .group .title .expandArrow {
  background: url("../images/svgs/imsHealth_icons_ui-drop-arrow_grey.svg") no-repeat;
  display: inline-block;
  height: 0.5rem;
  /* base 16 0.3125rem; */
  width: 0.8rem;
  /* base 16 0.5rem; */
  float: right;
  margin-top: 0.6rem;
  /* base 16 0.375rem; */
}
.sidePanel .group .inputGroup {
  padding: 1.2rem 0 1.2rem 0;
  /* base 16 0.75rem 0 0.75rem 0; */
}
.sidePanel .group .inputGroup select {
  width: 100%;
}
.sidePanel .group .inputGroup input[type="text"] {
  width: 90%;
}
.sidePanel .group .groupOptions {
  margin-top: 1.2rem;
  /* base 16 0.75rem; */
  display: none;
  height: 0rem;
}
.sidePanel .group .groupOptions.expand {
  display: block;
  height: auto;
  transition: height 0.4s;
}
.sidePanel .group.advancedToggle {
  text-align: right;
}
.sidePanel .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sidePanel .footer .restore {
  text-align: right;
  margin: 1.5rem 3.0rem 1.5rem 1.5rem;
  /* base 16 0.9375rem 1.875rem 0.9375rem 0.9375rem;*/
}
.sidePanel .footer .run button {
  border-radius: 0;
  height: 4.2rem;
  /* base 16 2.625rem; */
  width: 100%;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.topNav {
  height: 5.0rem;
  /* base 16 3.125rem; */
  background: #34363b;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
  /*.dropdown li { 
		color:@font-color-nav;
	}*/
}
.topNav ul {
  list-style: none;
  display: inline-block;
  margin-left: -4rem;
  /* base 16 -2.5rem; */
  margin-top: 0rem;
}
.topNav ul li {
  display: inline-block;
  padding: 0 1.5rem 0 1.5rem;
  /* base 16 0 0.9375rem 0 0.9375rem;*/
  line-height: 5.0rem;
  /* base 16 3.125rem; */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /*hack to fix alert adding 1.5px to li*/
  /*hack to space between user and workspaces*/
}
.topNav ul li .dropdown {
  background: #282a2e;
  border: solid #000000 0.1rem;
  margin-top: 5.0rem;
}
.topNav ul li .dropdown li {
  color: #ffffff;
}
.topNav ul li#user {
  border-right: solid #000000 0.1rem;
  cursor: pointer;
}
.topNav ul li#user .dropdown {
  margin-left: 0;
  padding: 0 3.0rem 0 0;
}
.topNav ul li:hover {
  background: #282a2e;
}
.topNav ul li:first-child {
  padding-left: 3.0rem;
}
.topNav ul li:last-child {
  height: 5.0rem;
}
.topNav ul li:nth-child(2) {
  margin-left: -0.3rem;
}
.topNav ul li a {
  color: #ffffff;
}
.topNav ul li a:hover {
  text-decoration: none;
}
.topNav ul li.active {
  background: #282a2e;
}
.topNav ul li .alert {
  min-width: 1.1rem;
  /* base 16 0.6875rem;*/
  background: #00aeef;
  border-radius: 1.1rem;
  /* base 16 0.6875rem; */
  font-size: 0.8rem;
  /* base 16 0.5rem; */
  padding: 0 0.4rem 0 0.4rem;
  /* base 16 0 .25rem 0 .25rem; */
  position: relative;
  top: -0.1rem;
  /* base 16 -0.0625rem; */
  left: 0.2rem;
  /* base 16 0.125rem; */
}
.topNav ul li .arrow {
  background: url("../images/svgs/imsHealth_icons_ui-drop-arrow_white.svg") no-repeat;
  display: inline-block;
  margin-left: 0.8rem;
  /* base 16 0.5rem; */
  height: 0.7rem;
  /* base 16 0.4375rem; */
  width: 0.8rem;
  /* base 16 0.5rem; */
}
.topNav .logo-container {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.topNav .logo-container div {
  display: inline-block;
}
.topNav .logo-container #logo {
  border-left: solid #000000 0.1rem;
  height: 3.5rem;
  /* base 16 2.188rem;*/
  padding: 1.5rem 3.0rem 0 1.5rem;
  /* base 16 0.9375rem 1.875rem 0 0.9375rem; */
}
.topNav .logo-container #search {
  padding-right: 1.5rem;
  /* base 16 0.9375rem;*/
  position: relative;
  height: 2.4rem;
  /* base 16 1.5rem;*/
  width: 1.5rem;
  /* base 16 0.9375rem;*/
}
.topNav .logo-container #search img {
  position: absolute;
  top: 0;
  left: 0;
}
.subNav {
  height: 4.6rem;
  /* base 16 2.875rem; */
  box-sizing: border-box;
  background: #f7f5f4;
  border-bottom: solid #d6d6d6 0.1rem;
  color: #323334;
  overflow: hidden;
  position: relative;
}
.subNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subNav ul li {
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  display: inline-block;
  position: relative;
  height: 4.5rem;
  /* base 16 2.813rem; */
  padding: 1.5rem 1.5rem 0 1.5rem;
  /* base 16 0.9375rem 0.9375rem 0 0.9375rem;*/
  margin-left: -0.3rem;
  /* base 16  -0.1875rem;*/
  vertical-align: top;
}
.subNav ul li a {
  color: #323334;
}
.subNav ul li:hover {
  background: #dfdfdf;
}
.subNav ul li:hover a {
  text-decoration: none;
  font-weight: bold;
  color: #323334;
  cursor: pointer;
}
.subNav ul li.subNavTitle:hover {
  background: #f7f5f4;
}
.subNav ul.breadcrumbNav {
  float: left;
}
.subNav ul.breadcrumbNav .breadcrumb {
  padding-right: 0.4rem;
  /* base 16 0.25rem; */
}
.subNav ul.breadcrumbNav li {
  background: #f7f5f4;
  padding: 1.5rem 0 0 3.0rem;
  /* base 16 0.9375rem 0 0 1.875rem;*/
}
.subNav ul.breadcrumbNav li svg {
  fill: #979ba8;
}
.subNav ul.breadcrumbNav li:before,
.subNav ul.breadcrumbNav li:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.7rem;
  /* base 16 -1.0625rem;*/
  width: 0;
  height: 0;
  border-top: 2.3rem solid transparent;
  /* base 16 1.438rem */
  border-bottom: 2.3rem solid transparent;
  /* base 16 1.438rem */
  border-left: 1.5rem solid #dfdfdf;
  /* base 16 0.9375rem */
  z-index: 3;
}
.subNav ul.breadcrumbNav li:after {
  right: -1.5rem;
  /* base 16 -0.9375rem;*/
  border-left: 1.5rem solid #f7f5f4;
  /* base 16 0.9375rem*/
}
.subNav ul.breadcrumbNav li:first-child {
  padding-left: 3.2rem;
  /* base 16 2rem;*/
}
.subNav ul.breadcrumbNav li:last-child {
  padding-right: 0;
  margin-right: -1.5rem;
  /* base 16 -0.9375rem; */
}
.subNav ul.breadcrumbNav li:last-child:before {
  display: none;
}
.subNav ul.breadcrumbNav li:last-child:after {
  display: none;
}
.subNav ul.breadcrumbNav li:hover {
  background: #dfdfdf;
}
.subNav ul.breadcrumbNav li:hover svg {
  fill: #323334;
}
.subNav ul.breadcrumbNav li:hover:after {
  border-left: 1.5rem solid #dfdfdf;
  /* base 16 0.9375rem */
}
.subNav ul.breadcrumbNav li:hover:last-child {
  background: #f7f5f4;
}
.subNav ul.breadcrumbNav li:hover:last-child:after {
  border-left-color: #f7f5f4;
}
.subNav ul.breadcrumbNav li #workspaceLandingButton svg {
  margin-top: 0.2rem;
  /* base 16  0.125rem; */
}
.subNav ul.breadcrumbNav li #workspaceButton svg {
  margin-top: 0.3rem;
  /* base 16 0.1875rem; */
  margin-left: -0.4rem;
  /* base 16 -0.25rem; */
}
.subNav ul.reportNav,
.subNav ul.workspaceNav {
  float: left;
}
.subNav ul.reportNav .subNavTitle,
.subNav ul.workspaceNav .subNavTitle {
  font-weight: bold;
}
.subNav ul.reportNav li svg,
.subNav ul.workspaceNav li svg {
  fill: #00aeef;
}
.subNav ul.reportNav li:hover svg,
.subNav ul.workspaceNav li:hover svg,
.subNav ul.reportNav li .active svg,
.subNav ul.workspaceNav li .active svg {
  fill: #323334;
}
.subNav ul.reportNav li:first-child:hover,
.subNav ul.workspaceNav li:first-child:hover {
  background: #f7f5f4;
}
.subNav ul.reportNav li.border:before,
.subNav ul.workspaceNav li.border:before {
  content: "";
  position: absolute;
  top: 0.6rem;
  /* base 16 0.375rem; */
  right: 0;
  height: 3.4rem;
  /* base 16 2.125rem; */
  border-right: solid #d6d6d6 0.1rem;
}
.subNav ul.reportNav li #sankey,
.subNav ul.workspaceNav li #sankey {
  margin-top: 0.3rem;
  /* base 16 0.1875rem; */
}
.subNav ul.reportNav li #switchBasic,
.subNav ul.workspaceNav li #switchBasic {
  margin-top: 0.2rem;
  /* base 16 0.125rem; */
}
.subNav ul.reportNav .arrow,
.subNav ul.workspaceNav .arrow {
  background: url("../images/svgs/imsHealth_icons_ui-drop-arrow.svg") no-repeat;
  display: inline-block;
  width: 0.8rem;
  /* base 16 0.5rem; */
  height: 0.5rem;
  /* base 16 0.3125rem; */
  margin-left: 1.0rem;
  /* base 16 0.625rem; */
}
.subNav ul.reportSettings {
  float: right;
}
.subNav ul.reportSettings li {
  border-left: solid #d6d6d6 0.1rem;
}
.subNav ul.reportSettings li:last-child {
  padding-right: 3.0rem;
  /* base 16 1.875rem; */
}
.subNav ul.reportSettings li svg {
  fill: #00aeef;
}
.subNav ul.reportSettings li:hover svg {
  fill: #323334;
}
.subNav#subNavWorkspace #workspaceButton {
  padding-left: 0;
}
.subNav2 {
  height: 4.6rem;
  /* base 16 2.875rem; */
  box-sizing: border-box;
  background: #f7f5f4;
  border-bottom: solid #d6d6d6 0.1rem;
  color: #323334;
  overflow: hidden;
  position: relative;
}
.subNav2 .subNavLeft {
  position: absolute;
  left: 0;
  display: inline-block;
}
.subNav2 .subNavRight {
  position: absolute;
  right: 0;
  display: inline-block;
}
.subNav2 .subNavRight li {
  border-left: solid #d6d6d6 0.1rem;
}
.subNav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}
.subNav2 ul li {
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  display: inline-block;
  padding: 1.5rem 1.5rem 0 1.5rem;
  height: 4.6rem;
  position: relative;
  margin-left: -0.3rem;
  /*.dropdown {
				background:@sub-nav-color;
				border: @sub-nav-border;
				left:0;
				li { 
					color:@font-color-base;
					&:hover {
						color: @font-color-link;
						padding: 0 0 0 0;
						background: @dropdown-selected;
					}
				}
			}*/
}
.subNav2 ul li .arrow {
  background: url("../images/svgs/imsHealth_icons_ui-drop-arrow.svg") no-repeat;
  display: inline-block;
  width: 0.8rem;
  /* base 16 0.5rem; */
  height: 0.5rem;
  /* base 16 0.3125rem; */
  margin-left: 1.0rem;
  /* base 16 0.625rem; */
}
.subNav2 ul li svg {
  fill: #00aeef;
}
.subNav2 ul li.chart:hover,
.subNav2 ul li.reportSwitch:hover,
.subNav2 ul li.reportAction:hover {
  background: #dfdfdf;
}
.subNav2 ul li.chart:hover a,
.subNav2 ul li.reportSwitch:hover a,
.subNav2 ul li.reportAction:hover a {
  color: #323334;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -0.045rem;
}
.subNav2 ul li.chart:hover svg,
.subNav2 ul li.reportSwitch:hover svg,
.subNav2 ul li.reportAction:hover svg {
  fill: #323334;
}
.subNav2 ul li .dropdown {
  background: #f7f5f4;
  border: solid 0.1rem #d6d6d6;
  overflow: auto;
  z-index: 3;
}
.subNav2 ul li .dropdown li:hover {
  background: #dcedf8;
  color: #00aeef;
}
.subNav2 .reportSwitch:before,
.subNav2 .chartTypeList:before,
.subNav2 .pageTitle:before {
  content: "";
  position: absolute;
  top: 0.6rem;
  /* base 16 0.375rem; */
  right: 0;
  height: 3.4rem;
  /* base 16 2.125rem; */
  border-right: solid #d6d6d6 0.1rem;
}
.subNav2 .breadcrumbNav .breadcrumb {
  margin-right: -1.5rem;
  padding-left: 2.5rem;
  margin-left: 1.5rem;
  padding-right: 0.3rem;
}
.subNav2 .breadcrumbNav .breadcrumb svg {
  fill: #979ba8;
}
.subNav2 .breadcrumbNav .breadcrumb:before,
.subNav2 .breadcrumbNav .breadcrumb:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.7rem;
  width: 0;
  height: 0;
  border-top: 2.3rem solid transparent;
  border-bottom: 2.3rem solid transparent;
  border-left: 1.5rem solid #dfdfdf;
  z-index: 3;
}
.subNav2 .breadcrumbNav .breadcrumb:after {
  right: -1.5rem;
  border-left: 1.5rem solid #f7f5f4;
}
.subNav2 .breadcrumbNav .breadcrumb:first-child {
  padding-left: 3.0rem;
  margin-left: 0rem;
}
.subNav2 .breadcrumbNav .breadcrumb:hover {
  background: #dfdfdf;
}
.subNav2 .breadcrumbNav .breadcrumb:hover svg {
  fill: #323334;
}
.subNav2 .breadcrumbNav .breadcrumb:hover:after {
  border-left: 1.5rem solid #dfdfdf;
  /* base 16 0.9375rem */
}
.subNav2 .breadcrumbNav .breadcrumb:hover:last-child {
  background: #f7f5f4;
}
.subNav2 .breadcrumbNav .breadcrumb:hover:last-child:after {
  border-left-color: #f7f5f4;
}
.subNav2 .pageTitle {
  font-weight: bold;
  margin-left: 2.5rem;
  top: -0.1rem;
}
.subNav2 .chartTypeList li {
  top: 0;
  height: 4.6rem;
  vertical-align: top;
}
.subNav2 .chartTypeList li a {
  color: #323334;
}
.subNav2 .chartTypeList #switchBasic svg {
  padding-top: 0.2rem;
}
.subNav2 .chartTypeList #sankey svg {
  padding-top: 0.3rem;
}
.subNav2 .chartTypeList .active svg {
  fill: #323334;
}
.subNav2 .reportDetails a,
.subNav2 .reportSettings a {
  color: #323334;
}
.subNav2 .reportDetails a:hover,
.subNav2 .reportSettings a:hover {
  text-decoration: none;
  font-weight: bold;
}
.dropdown {
  display: block;
  position: absolute;
  left: 0;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  /*li {
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;
		height: auto;
		display: block;
		margin-right: -0.3rem;
		color: @font-color-base;
		&:hover {
			background:@dropdown-selected;
			padding: 0.7rem 0 0.7rem 0;
			color: @font-color-link;
		}
	}
	.dropdown {
	background:@ims-warm-gray;
	box-shadow:@shadow;
	border: @control-popup-border;
	padding: 1.5rem; /* base 16 0.9375rem; *
	ul {
		list-style: none;
		li.active {
			color: @font-color-link;
			background: @selected-option-bg;
		}
	}
}
*/
}
.dropdown.expand {
  display: block;
  border: solid red 1px;
}
.dropdown li {
  display: block;
  height: auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.fave {
  display: inline-block;
  margin-right: -1.6rem;
  /* base 16 -1rem;*/
}
.fave svg {
  stroke: #c3c3c3;
  fill: rgba(233, 221, 92, 0);
}
.fave.faved svg {
  fill: #e9dd5c;
  stroke: #d6ae34;
}
body {
  background: #fefefe;
}
.companyTitle {
  /*branded title, primarily for company workspaces*/
  font-size: 2.4rem;
}
.workspaceMetadata {
  /*info along bottom right on sharing, creating, last updated*/
  color: #979ba8;
  font-size: 1.2rem;
}
.workspaceMetadata .updateData {
  font-size: 1rem;
}
.tile {
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #979ba8;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  border: solid #d6d6d6 0.1rem;
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  /* base 16 0.9375rem; */
  height: 24.6rem;
  /* base 16 15.38rem; */
  width: 29.1rem;
  /* base 16 18.19rem; */
  margin: 1.5rem;
  /* base 16 0.9375rem; */
  vertical-align: top;
  background: #fff;
}
.tile.corporate {
  border-top: 0.4rem #002868 solid;
  /* base 16 0.25rem*/
}
.tile.corporate .workspaceType {
  background: #002868;
  width: 7.0rem;
  /* base 16 4.375rem; */
}
.tile.private {
  border-top: 0.4rem #8bc34a solid;
  /* base 16 0.25rem;*/
}
.tile.private .workspaceType {
  background: #8bc34a;
  width: 5.0rem;
  /* base 16 3.125rem; */
}
.tile.shared {
  border-top: 0.4rem #00aaef solid;
  /* base 16 0.25rem*/
}
.tile.shared .workspaceType {
  background: #00aaef;
  width: 5.0rem;
  /* base 16 3.125rem; */
}
.tile .workspaceType {
  font-size: 1rem;
  color: #fff;
  text-transform: lowercase;
  font-variant: small-caps;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5rem;
  /* base 16 0.9375rem;*/
  margin-top: -0.4rem;
  /* base 16 -0.25rem; */
  border-radius: 0.2rem;
  /* base 16 0.125rem; */
  text-align: center;
}
.tile h2 {
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.tile .title {
  color: #323334;
  max-width: 20.0rem;
  /* base 16 12.5rem; */
}
.tile .description {
  font-size: 1.2rem;
  color: #979ba8;
  padding: 0.4rem 0 0.6rem 0;
  /* base 16 0.25rem 0 0.375rem 0;*/
}
.tile .options {
  width: 2.75rem;
  height: 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.9375rem 0.9375rem 0 0;
}
.tile .options .moreOptions,
.tile .options .fave {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-block;
}
.tile .content {
  height: auto;
  width: auto;
}
.tile .content img {
  max-width: 100%;
  max-height: 100%;
}
.tile .updateDate {
  font-size: 1rem;
  color: #979ba8;
  position: absolute;
  bottom: 0.625rem;
  margin-top: 1.25rem;
}
.tile .optionPopup {
  /*popup from card options*/
  -moz-box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  border: solid #c8c8c8 0.1rem;
}
.tile .back-card {
  /*cards stacked behind primary card*/
  background-color: #ecf0f5;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.3);
}
.tile .stats {
  font-size: 1.2rem;
  /*short, aggregate value contained in asset*/
  color: #979ba8;
  /*short, aggregate value contained in asset*/
}
.tile .stats .value {
  /*number itself*/
  font-weight: bold;
  font-size: 1.8rem;
}
.tile .stats .value .unit {
  /*ie shortening 'million' to M*/
  font-weight: normal;
}
.cohortTile {
  background: #f7f5f4;
  border-top: 0.25rem #002868 solid;
  position: relative;
}
.cohortTile .cohortContents {
  color: #323334;
  font-size: 1rem;
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}
.cohortTile .cohortContents div {
  display: inline-block;
}
.cohortTile .cohortContents li {
  padding: 0.1875rem 0 0.1875rem 0;
}
.cohortTile .cohortContents .database {
  background: url("../images/svgs/imsHealth_icons_database.svg") no-repeat;
  height: 0.875rem;
  width: 0.75rem;
  position: absolute;
  margin-top: -0.0625rem;
}
.cohortTile .cohortContents .databaseName {
  padding-left: 1.125rem;
  line-height: 0.875rem;
}
.cohortTile .cohortStats {
  color: #323334;
}
.cohortTile .cohortStats .stat {
  font-weight: bold;
  font-size: 1.8rem;
}
.cohortTile .cohortStats .unit {
  font-size: 1.8rem;
}
.cohortTile .cohortDescription {
  color: #979ba8;
}
/*
	Unique styles for Source of Business report
	- some of these styles are expected 
	  to be done in d3
*/
.sortControl {
  font-size: 1.2rem;
  color: #323334;
}
.switchMatrix .node {
  height: 6px;
}
.switchMatrix .branch {
  opacity: .4;
}
.switchMatrix .branch:hover {
  opacity: .6;
}
.switchMatrix .label {
  color: #979ba8;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.switchMatrix .label.active {
  color: #323334;
  font-weight: bold;
}
.switchMatrix .focusOverlay {
  background: rgba(255, 255, 255, 0.8);
}
.switchMatrix .minimizedNodeDrawer {
  border-left: solid #e4e4e4 1px;
  border-right: solid #e4e4e4 1px;
  padding-left: 1px;
  padding-right: 1px;
}
.switchMatrix .minimizedNodeDrawer .minimizedNodeOverlay {
  border-left: solid #e4e4e4 1px;
  border-right: solid #e4e4e4 1px;
  background: rgba(252, 252, 252, 0.85);
}
.switchMatrix .minimizedNodeDrawer.expanded .minimizedNodeOverlay {
  background: rgba(252, 252, 252, 0);
}
/*
	Unique styles for Matrix Report
	and Patient Demographics
	- some of these styles are expected 
	  to be done in d3
*/
/*
	Unique styles for Line of Therapy report
	- some of these styles are expected 
	  to be done in d3
*/
/*Report colors*/
.lineOfTherapy .branch {
  opacity: .4;
}
.lineOfTherapy .branch:hover {
  opacity: .6;
}
.lineOfTherapy .branch .label {
  font-size: 1rem;
  vertical-align: middle;
  text-align: right;
  padding: 4px 15px 4px 15px;
}
.lineOfTherapy .branch .label .drugName {
  font-weight: bold;
}
.lineOfTherapy .branch .node {
  background: #acacac;
  width: 6px;
}
.lineOfTherapy .branch.continueTherapy {
  opacity: .05;
}
.lineOfTherapy .branch.continueTherapy:hover {
  opacity: .2;
}
.lineOfTherapy .branch.continueTherapy .node {
  opacity: 0;
}
.lineOfTherapy .branch.continueTherapy .label {
  color: #979ba8;
}
#reportTitle {
  font-size: 1.8rem;
  color: #323334;
}
#reportTitle .default {
  color: #979ba8;
}
#reportDescription {
  font-size: 1.4rem;
}
#chart .axis,
#chart #legend {
  font-size: 1rem;
  color: #979ba8;
}
#chart .label {
  font-size: 1.2rem;
}
#chart .tip {
  background: rgba(38, 42, 51, 0.9);
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 0.75rem;
  padding: 0.9375rem;
  max-width: 12.5rem;
}
#moreInformation #moreInfoIcon {
  fill: #b4e7fa;
}
#moreInformation #moreInfoIcon:hover {
  fill: #252525;
}
#moreInformation .popup {
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  border: solid #c8c8c8 0.1rem;
  background: #f7f5f4;
  font-size: 1.4rem;
  color: #323334;
}
#moreInformation .popup a:hover {
  text-decoration: underline;
}
#timeline {
  height: 2.688rem;
  border-top: solid #d6d6d6 0.0625rem;
}
#timeline .dateSelection {
  color: #979ba8;
  font-size: 1rem;
}
#timeline .dateSelection .date {
  color: #323334;
  font-weight: bold;
}
#timeline .dateLabel {
  text-transform: uppercase;
  color: #979ba8;
  font-size: 1rem;
}
#timeline .dateLabel .selectDisabled {
  opacity: 0.4;
}
#timeline .selectedTime {
  background: rgba(196, 224, 243, 0.6);
}
#timeline .backData {
  background: rgba(199, 199, 199, 0.6);
}
#timeline .timeSelectDisabled {
  background: rgba(221, 221, 221, 0.4);
}
#timeline .timeSelectDisabled .label {
  opacity: 0.4;
}
#timeline .timeSelectDisabled .ticks {
  opacity: 0.4;
}
#timeline .ticks .month {
  background: rgba(214, 214, 214, 0.15);
}
#timeline .ticks .year {
  background: rgba(214, 214, 214, 0.3);
}
#timeline .ticks .selectDisabled {
  opacity: 0.4;
}
/*
	Style guide styles
	Ignore this file in terms of style
	and design patterns for IMS Health 
	e360 system
*/
/* Grid */
.container {
  position: relative;
  width: 80%;
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
@media (min-width: 750px) {
  .container {
    width: 80%;
    padding: 0 20px;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
}
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
/* Page styles */
#version {
  color: #979ba8;
  margin-top: -0.75rem;
  font-size: 1rem;
}
#table-contents {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  padding: 10px;
  margin-top: 0;
  top: 0;
  right: 0;
  z-index: 5;
}
#table-contents ul {
  list-style: none;
  margin-left: -2.5rem;
}
#table-contents ul li ul {
  margin: -0.825rem 0 0 -1.5rem;
}
#table-contents ul li ul li {
  margin: 0.125rem 0 0.125rem 0;
}
#guide .section {
  margin: 2.5rem 0 3.75rem 0;
}
#guide .section h2 {
  border-bottom: solid 0.063rem #dedede;
  padding-bottom: 0.75rem;
}
#guide .section .content h2 {
  border: none;
  padding-bottom: 0;
}
#guide .section pre {
  font-family: 'consolas';
  color: #979ba8;
  font-size: 1.2rem;
}
#guide .section .style-element {
  margin: 2.5rem 0 1.5rem 0;
}
#guide .section p {
  max-width: 40rem;
}
#guide .section p pre {
  margin-top: -0.725rem;
}
#guide .section .note {
  margin-bottom: 3.5rem;
}
#report-colors .color div {
  display: inline-block;
}
#report-colors .color .color-block {
  height: 5rem;
  width: 5rem;
  margin: 0 -3px 0 0;
}
#report-colors .color .color-label {
  height: 5rem;
  width: 5rem;
}
#report-colors .color.sob-blue .color-block:nth-child(1) {
  background: #335386;
}
#report-colors .color.sob-blue .color-block:nth-child(2) {
  background: #99a9c3;
}
#report-colors .color.sob-pos .color-block:nth-child(1) {
  background: #488b43;
}
#report-colors .color.sob-pos .color-block:nth-child(2) {
  background: #7fae7b;
}
#report-colors .color.sob-pos .color-block:nth-child(3) {
  background: #b6d1b4;
}
#report-colors .color.sob-neg .color-block:nth-child(1) {
  background: #721616;
}
#report-colors .color.sob-neg .color-block:nth-child(2) {
  background: #995757;
}
#report-colors .color.sob-neg .color-block:nth-child(3) {
  background: #b88a8a;
}
#report-colors .color.sob-neg .color-block:nth-child(4) {
  background: #dcc5c5;
}
#report-colors .color.ims-blue .color-block:nth-child(1) {
  background: #002868;
}
#report-colors .color.ims-blue .color-block:nth-child(2) {
  background: #335386;
}
#report-colors .color.ims-blue .color-block:nth-child(3) {
  background: #667ea4;
}
#report-colors .color.ims-blue .color-block:nth-child(4) {
  background: #99a9c3;
}
#report-colors .color.ims-blue .color-block:nth-child(5) {
  background: #ccd4e1;
}
#report-colors .color.ims-teal .color-block:nth-child(1) {
  background: #1b8f9e;
}
#report-colors .color.ims-teal .color-block:nth-child(2) {
  background: #49a5b1;
}
#report-colors .color.ims-teal .color-block:nth-child(3) {
  background: #76bcc5;
}
#report-colors .color.ims-teal .color-block:nth-child(4) {
  background: #a4d2d8;
}
#report-colors .color.ims-teal .color-block:nth-child(5) {
  background: #d1e9ec;
}
#report-colors .color.ims-cyan .color-block:nth-child(1) {
  background: #00aaef;
}
#report-colors .color.ims-cyan .color-block:nth-child(2) {
  background: #33bbf2;
}
#report-colors .color.ims-cyan .color-block:nth-child(3) {
  background: #66ccf5;
}
#report-colors .color.ims-cyan .color-block:nth-child(4) {
  background: #b2e5fa;
}
#report-colors .color.ims-cyan .color-block:nth-child(5) {
  background: #d9f2fd;
}
#report-colors .color.ims-plum .color-block:nth-child(1) {
  background: #9c0048;
}
#report-colors .color.ims-plum .color-block:nth-child(2) {
  background: #b0336d;
}
#report-colors .color.ims-plum .color-block:nth-child(3) {
  background: #c46691;
}
#report-colors .color.ims-plum .color-block:nth-child(4) {
  background: #dfa7b9;
}
#report-colors .color.ims-plum .color-block:nth-child(5) {
  background: #ebccda;
}
#report-colors .color.ims-orange .color-block:nth-child(1) {
  background: #faa53a;
}
#report-colors .color.ims-orange .color-block:nth-child(2) {
  background: #fbb761;
}
#report-colors .color.ims-orange .color-block:nth-child(3) {
  background: #fcc989;
}
#report-colors .color.ims-orange .color-block:nth-child(4) {
  background: #fddbb0;
}
#report-colors .color.ims-orange .color-block:nth-child(5) {
  background: #feedd8;
}
#report-colors .color.report-green .color-block:nth-child(1) {
  background: #488b43;
}
#report-colors .color.report-green .color-block:nth-child(2) {
  background: #6da269;
}
#report-colors .color.report-green .color-block:nth-child(3) {
  background: #91b98e;
}
#report-colors .color.report-green .color-block:nth-child(4) {
  background: #b6d1b4;
}
#report-colors .color.report-green .color-block:nth-child(5) {
  background: #dae8d9;
}
#report-colors .color.report-red .color-block:nth-child(1) {
  background: #721616;
}
#report-colors .color.report-red .color-block:nth-child(2) {
  background: #8e4545;
}
#report-colors .color.report-red .color-block:nth-child(3) {
  background: #aa7373;
}
#report-colors .color.report-red .color-block:nth-child(4) {
  background: #c7a2a2;
}
#report-colors .color.report-red .color-block:nth-child(5) {
  background: #dcc5c5;
}
#parameterPanel {
  display: block;
}
#parameterPanel .sidePanel {
  display: inline-block;
}
h3.show_markup,
h3.show_CSS {
  color: #00aeef;
  cursor: pointer;
}
.markup,
.css {
  box-sizing: border-box;
  display: none;
}
.markup.show,
.css.show {
  display: block;
}
